*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.container{
    width: 400px;
    margin: 100px auto;
}

.border{
    background-color: #373f4d;
    border-radius: 5px;
    text-align: center;
    padding: 60px 50px;
    color:white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.border h1{
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 300;
}

.border p{
    font-size: 15px;
    margin-bottom: 30px;
}

.border input[type="submit"]{
    border: none;
    background-color: orangered;
    width: 250px;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
}

.border input[type="text"]{
    width: 250px;
    padding: 15px 10px;
    font-size: large;
    border: none;
    background-color: #f1f1f1;
}

.border .form-group{
    margin-bottom: 20px;
}

.border input[type="submit"]:hover{
    background-color: orange;
}